// Modified version of cc430f6137 to work around bugs
(
    memory_layout: {
        "SFR":      (start: 0x0000, end: 0x0010, perm: None,  value: Io),

        "IO_8":     (start: 0x0010, end: 0x0100, perm: None,  value: Io),
        "IO_16":    (start: 0x0100, end: 0x01000, perm: None, value: Io),

        "BSL":      (start: 0x1000, end: 0x1800, perm: None,  value: None),
        "RAM":      (start: 0x1c00, end: 0x2c02, perm: RW,    value: None), // End is 2-bytes higher to avoid out-of-bounds write when the firmware writes to the DMSG buffer.

        "INFOD":    (start: 0x01800, end: 0x01880, perm: R,     value: Fill(0x00)),
        "INFOC":    (start: 0x01880, end: 0x01900, perm: R,     value: Fill(0x00)),
        "INFOB":    (start: 0x01900, end: 0x01980, perm: R,     value: Fill(0x00)),
        "INFOA":    (start: 0x01980, end: 0x01a00, perm: R,     value: Fill(0x00)),
        "DEVICE":   (start: 0x01a00, end: 0x01a80, perm: R,     value: Bytes([0x00, 0x00, 0x00, 0x00, 0x61, 0x37])),

        // The binary appears to include the ELF header in the image, but the range it writes the
        // header to is not in the actual memory map of the MCU. Currently the emulator reports an
        // error on mapping failures, so we define a section here to workaround this issue.
        "ELF_HEADER":(start: 0x7e8c, end: 0x8000,  perm: None, value: None),

        "FLASH":     (start: 0x8000, end: 0x10000, perm: RX, value: None),
    },

    interrupts: {
        "Watchdog": (isr: "WDT", enable: ("SFRIE1", 0x0001), flag: ("SFRIFG1", 0x0001)), // WDTIFG

        "UCA0.Rx": (isr: "USCI_A0", enable: ("UCA0ICTL", 0x0001), flag: ("UCA0ICTL", 0x0100)),  // UCA0RXIE
        "UCA0.Tx": (isr: "USCI_A0", enable: ("UCA0ICTL", 0x0002), flag: ("UCA0ICTL", 0x0200)),  // UCA0TXIE

        "UCB0.Rx": (isr: "USCI_B0", enable: ("UCB0ICTL", 0x01), flag: ("UCB0ICTL", 0x01)),  // UCB0RXIE
        "UCB0.Tx": (isr: "USCI_B0", enable: ("UCB0ICTL", 0x02), flag: ("UCB0ICTL", 0x02)),  // UCB0TXIE

        "RadioPacket.9": (isr: "CC1101", enable: ("RF1AIE", 0x0200), flag: ("RF1AIFG", 0x0200)),

        "P1.0":     (isr: "PORT1", enable: ("PAIE", 0x0001), flag: ("PAIFG", 0x0001)),
        "P1.1":     (isr: "PORT1", enable: ("PAIE", 0x0002), flag: ("PAIFG", 0x0002)),
        "P1.2":     (isr: "PORT1", enable: ("PAIE", 0x0004), flag: ("PAIFG", 0x0004)),
        "P1.3":     (isr: "PORT1", enable: ("PAIE", 0x0008), flag: ("PAIFG", 0x0008)),
        "P1.4":     (isr: "PORT1", enable: ("PAIE", 0x0010), flag: ("PAIFG", 0x0010)),
        "P1.5":     (isr: "PORT1", enable: ("PAIE", 0x0020), flag: ("PAIFG", 0x0020)),
        "P1.6":     (isr: "PORT1", enable: ("PAIE", 0x0040), flag: ("PAIFG", 0x0040)),
        "P1.7":     (isr: "PORT1", enable: ("PAIE", 0x0080), flag: ("PAIFG", 0x0080)),

        "P2.0":     (isr: "PORT2", enable: ("PAIE_H", 0x01), flag: ("PAIFG_H", 0x01)),
        "P2.1":     (isr: "PORT2", enable: ("PAIE_H", 0x02), flag: ("PAIFG_H", 0x02)),
        "P2.2":     (isr: "PORT2", enable: ("PAIE_H", 0x04), flag: ("PAIFG_H", 0x04)),
        "P2.3":     (isr: "PORT2", enable: ("PAIE_H", 0x08), flag: ("PAIFG_H", 0x08)),
        "P2.4":     (isr: "PORT2", enable: ("PAIE_H", 0x10), flag: ("PAIFG_H", 0x10)),
        "P2.5":     (isr: "PORT2", enable: ("PAIE_H", 0x20), flag: ("PAIFG_H", 0x20)),
        "P2.6":     (isr: "PORT2", enable: ("PAIE_H", 0x40), flag: ("PAIFG_H", 0x40)),
        "P2.7":     (isr: "PORT2", enable: ("PAIE_H", 0x80), flag: ("PAIFG_H", 0x80)),
    },


    peripherals: {
        // "UCA0TXBUF": LogWrite, // This can be enabled to log debug output to the console.
    },

    symbols: {
        "ADC12CTL0": 0x0700,
        "ADC12CTL0": 0x0700,
        "ADC12CTL1": 0x0702,
        "ADC12CTL2": 0x0704,
        "ADC12IFG": 0x070A,
        "ADC12IE": 0x070C,
        "ADC12IV": 0x070E,
        "ADC12MEM0": 0x0720,
        "ADC12MEM1": 0x0722,
        "ADC12MEM2": 0x0724,
        "ADC12MEM3": 0x0726,
        "ADC12MEM4": 0x0728,
        "ADC12MEM5": 0x072A,
        "ADC12MEM6": 0x072C,
        "ADC12MEM7": 0x072E,
        "ADC12MEM8": 0x0730,
        "ADC12MEM9": 0x0732,
        "ADC12MEM10": 0x0734,
        "ADC12MEM11": 0x0736,
        "ADC12MEM12": 0x0738,
        "ADC12MEM13": 0x073A,
        "ADC12MEM14": 0x073C,
        "ADC12MEM15": 0x073E,
        "ADC12MCTL0": 0x0710,
        "ADC12MCTL1": 0x0711,
        "ADC12MCTL2": 0x0712,
        "ADC12MCTL3": 0x0713,
        "ADC12MCTL4": 0x0714,
        "ADC12MCTL5": 0x0715,
        "ADC12MCTL6": 0x0716,
        "ADC12MCTL7": 0x0717,
        "ADC12MCTL8": 0x0718,
        "ADC12MCTL9": 0x0719,
        "ADC12MCTL10": 0x071A,
        "ADC12MCTL11": 0x071B,
        "ADC12MCTL12": 0x071C,
        "ADC12MCTL13": 0x071D,
        "ADC12MCTL14": 0x071E,
        "ADC12MCTL15": 0x071F,
        "AESACTL0": 0x09C0,
        "AESASTAT": 0x09C4,
        "AESAKEY": 0x09C6,
        "AESADIN": 0x09C8,
        "AESADOUT": 0x09CA,
        "CBCTL0": 0x08C0,
        "CBCTL1": 0x08C2,
        "CBCTL2": 0x08C4,
        "CBCTL3": 0x08C6,
        "CBINT": 0x08CC,
        "CBIV": 0x08CE,
        "RF1AIFCTL0": 0x0F00,
        "RF1AIFCTL1": 0x0F02,
        "RF1AIFCTL2": 0x0F04,
        "RF1AIFERR": 0x0F06,
        "RF1AIFERRV": 0x0F0C,
        "RF1AIFIV": 0x0F0E,
        "RF1AINSTRW": 0x0F10,
        "RF1AINSTR1W": 0x0F12,
        "RF1AINSTR2W": 0x0F14,
        "RF1ADINW": 0x0F16,
        "RF1ASTAT0W": 0x0F20,
        "RF1ASTAT1W": 0x0F22,
        "RF1ASTAT2W": 0x0F24,
        "RF1ADOUT0W": 0x0F28,
        "RF1ADOUT1W": 0x0F2A,
        "RF1ADOUT2W": 0x0F2C,
        "RF1AIN": 0x0F30,
        "RF1AIFG": 0x0F32,
        "RF1AIES": 0x0F34,
        "RF1AIE": 0x0F36,
        "RF1AIV": 0x0F38,
        "RF1ARXFIFO": 0x0F3C,
        "RF1ATXFIFO": 0x0F3E,
        "CRCDI": 0x0150,
        "CRCINIRES": 0x0154,
        "DMACTL0": 0x0500,
        "DMACTL1": 0x0502,
        "DMACTL2": 0x0504,
        "DMACTL3": 0x0506,
        "DMACTL4": 0x0508,
        "DMAIV": 0x050E,
        "DMA0CTL": 0x0510,
        "DMA0SA": 0x0512,
        "DMA0SAL": 0x0512,
        "DMA0DA": 0x0516,
        "DMA0DAL": 0x0516,
        "DMA0SZ": 0x051A,
        "DMA1CTL": 0x0520,
        "DMA1SA": 0x0522,
        "DMA1SAL": 0x0522,
        "DMA1DA": 0x0526,
        "DMA1DAL": 0x0526,
        "DMA1SZ": 0x052A,
        "DMA2CTL": 0x0530,
        "DMA2SA": 0x0532,
        "DMA2SAL": 0x0532,
        "DMA2DA": 0x0536,
        "DMA2DAL": 0x0536,
        "DMA2SZ": 0x053A,
        "FCTL1": 0x0140,
        "FCTL3": 0x0144,
        "FCTL4": 0x0146,
        "LCDBCTL0": 0x0A00,
        "LCDBCTL1": 0x0A02,
        "LCDBBLKCTL": 0x0A04,
        "LCDBMEMCTL": 0x0A06,
        "LCDBVCTL": 0x0A08,
        "LCDBPCTL0": 0x0A0A,
        "LCDBPCTL1": 0x0A0C,
        "LCDBPCTL2": 0x0A0E,
        "LCDBPCTL3": 0x0A10,
        "LCDBCPCTL": 0x0A12,
        "LCDBIV": 0x0A1E,
        "LCDM1": 0x0A20,
        "LCDM2": 0x0A21,
        "LCDM3": 0x0A22,
        "LCDM4": 0x0A23,
        "LCDM5": 0x0A24,
        "LCDM6": 0x0A25,
        "LCDM7": 0x0A26,
        "LCDM8": 0x0A27,
        "LCDM9": 0x0A28,
        "LCDM10": 0x0A29,
        "LCDM11": 0x0A2A,
        "LCDM12": 0x0A2B,
        "LCDM13": 0x0A2C,
        "LCDM14": 0x0A2D,
        "LCDM15": 0x0A2E,
        "LCDM16": 0x0A2F,
        "LCDM17": 0x0A30,
        "LCDM18": 0x0A31,
        "LCDM19": 0x0A32,
        "LCDM20": 0x0A33,
        "LCDM21": 0x0A34,
        "LCDM22": 0x0A35,
        "LCDM23": 0x0A36,
        "LCDM24": 0x0A37,
        "LCDBM1": 0x0A40,
        "LCDBM2": 0x0A41,
        "LCDBM3": 0x0A42,
        "LCDBM4": 0x0A43,
        "LCDBM5": 0x0A44,
        "LCDBM6": 0x0A45,
        "LCDBM7": 0x0A46,
        "LCDBM8": 0x0A47,
        "LCDBM9": 0x0A48,
        "LCDBM10": 0x0A49,
        "LCDBM11": 0x0A4A,
        "LCDBM12": 0x0A4B,
        "LCDBM13": 0x0A4C,
        "LCDBM14": 0x0A4D,
        "LCDBM15": 0x0A4E,
        "LCDBM16": 0x0A4F,
        "LCDBM17": 0x0A50,
        "LCDBM18": 0x0A51,
        "LCDBM19": 0x0A52,
        "LCDBM20": 0x0A53,
        "LCDBM21": 0x0A54,
        "LCDBM22": 0x0A55,
        "LCDBM23": 0x0A56,
        "LCDBM24": 0x0A57,
        "MPY": 0x04C0,
        "MPYS": 0x04C2,
        "MAC": 0x04C4,
        "MACS": 0x04C6,
        "OP2": 0x04C8,
        "RESLO": 0x04CA,
        "RESHI": 0x04CC,
        "SUMEXT": 0x04CE,
        "MPY32L": 0x04D0,
        "MPY32H": 0x04D2,
        "MPYS32L": 0x04D4,
        "MPYS32H": 0x04D6,
        "MAC32L": 0x04D8,
        "MAC32H": 0x04DA,
        "MACS32L": 0x04DC,
        "MACS32H": 0x04DE,
        "OP2L": 0x04E0,
        "OP2H": 0x04E2,
        "RES0": 0x04E4,
        "RES1": 0x04E6,
        "RES2": 0x04E8,
        "RES3": 0x04EA,
        "MPY32CTL0": 0x04EC,
        "PAIN": 0x0200,
        "PAIN_H": 0x0201,
        "PAOUT": 0x0202,
        "PADIR": 0x0204,
        "PAREN": 0x0206,
        "PADS": 0x0208,
        "PASEL": 0x020A,
        "PAIES": 0x0218,
        "PAIE": 0x021A,
        "PAIE_H": 0x021B,
        "PAIFG": 0x021C,
        "PAIFG_H": 0x021D,
        "P1IV": 0x020E,
        "P2IV": 0x021E,
        "PBIN": 0x0220,
        "PBOUT": 0x0222,
        "PBDIR": 0x0224,
        "PBREN": 0x0226,
        "PBDS": 0x0228,
        "PBSEL": 0x022A,
        "PCIN": 0x0240,
        "PCOUT": 0x0242,
        "PCDIR": 0x0244,
        "PCREN": 0x0246,
        "PCDS": 0x0248,
        "PCSEL": 0x024A,
        "PJIN": 0x0320,
        "PJOUT": 0x0322,
        "PJDIR": 0x0324,
        "PJREN": 0x0326,
        "PJDS": 0x0328,
        "PMAPKEYID": 0x01C0,
        "PMAPCTL": 0x01C2,
        "P1MAP01": 0x01C8,
        "P1MAP23": 0x01CA,
        "P1MAP45": 0x01CC,
        "P1MAP67": 0x01CE,
        "P2MAP01": 0x01D0,
        "P2MAP23": 0x01D2,
        "P2MAP45": 0x01D4,
        "P2MAP67": 0x01D6,
        "P3MAP01": 0x01D8,
        "P3MAP23": 0x01DA,
        "P3MAP45": 0x01DC,
        "P3MAP67": 0x01DE,
        "PMMCTL0": 0x0120,
        "PMMCTL1": 0x0122,
        "SVSMHCTL": 0x0124,
        "SVSMLCTL": 0x0126,
        "SVSMIO": 0x0128,
        "PMMIFG": 0x012C,
        "PMMRIE": 0x012E,
        "RCCTL0": 0x0158,
        "REFCTL0": 0x01B0,
        "RTCCTL01": 0x04A0,
        "RTCCTL23": 0x04A2,
        "RTCPS0CTL": 0x04A8,
        "RTCPS1CTL": 0x04AA,
        "RTCPS": 0x04AC,
        "RTCIV": 0x04AE,
        "RTCTIM0": 0x04B0,
        "RTCTIM1": 0x04B2,
        "RTCDATE": 0x04B4,
        "RTCYEAR": 0x04B6,
        "RTCAMINHR": 0x04B8,
        "RTCADOWDAY": 0x04BA,
        "SFRIE1": 0x0100,
        "SFRIFG1": 0x0102,
        "SFRRPCR": 0x0104,
        "SYSCTL": 0x0180,
        "SYSBSLC": 0x0182,
        "SYSJMBC": 0x0186,
        "SYSJMBI0": 0x0188,
        "SYSJMBI1": 0x018A,
        "SYSJMBO0": 0x018C,
        "SYSJMBO1": 0x018E,
        "SYSBERRIV": 0x0198,
        "SYSUNIV": 0x019A,
        "SYSSNIV": 0x019C,
        "SYSRSTIV": 0x019E,
        "TA0CTL": 0x0340,
        "TA0CCTL0": 0x0342,
        "TA0CCTL1": 0x0344,
        "TA0CCTL2": 0x0346,
        "TA0CCTL3": 0x0348,
        "TA0CCTL4": 0x034A,
        "TA0R": 0x0350,
        "TA0CCR0": 0x0352,
        "TA0CCR1": 0x0354,
        "TA0CCR2": 0x0356,
        "TA0CCR3": 0x0358,
        "TA0CCR4": 0x035A,
        "TA0IV": 0x036E,
        "TA0EX0": 0x0360,
        "TA1CTL": 0x0380,
        "TA1CCTL0": 0x0382,
        "TA1CCTL1": 0x0384,
        "TA1CCTL2": 0x0386,
        "TA1R": 0x0390,
        "TA1CCR0": 0x0392,
        "TA1CCR1": 0x0394,
        "TA1CCR2": 0x0396,
        "TA1IV": 0x03AE,
        "TA1EX0": 0x03A0,
        "UCSCTL0": 0x0160,
        "UCSCTL1": 0x0162,
        "UCSCTL2": 0x0164,
        "UCSCTL3": 0x0166,
        "UCSCTL4": 0x0168,
        "UCSCTL5": 0x016A,
        "UCSCTL6": 0x016C,
        "UCSCTL7": 0x016E,
        "UCSCTL8": 0x0170,
        "UCA0CTLW0": 0x05C0,
        "UCA0BRW": 0x05C6,
        "UCA0MCTL": 0x05C8,
        "UCA0STAT": 0x05CA,
        "UCA0RXBUF": 0x05CC,
        "UCA0TXBUF": 0x05CE,
        "UCA0ABCTL": 0x05D0,
        "UCA0IRCTL": 0x05D2,
        "UCA0ICTL": 0x05DC,
        "UCA0IV": 0x05DE,
        "UCB0CTLW0": 0x05E0,
        "UCB0BRW": 0x05E6,
        "UCB0STAT": 0x05EA,
        "UCB0RXBUF": 0x05EC,
        "UCB0TXBUF": 0x05EE,
        "UCB0I2COA": 0x05F0,
        "UCB0I2CSA": 0x05F2,
        "UCB0ICTL": 0x05FC,
        "UCB0IV": 0x05FE,
        "WDTCTL": 0x015C,

        "AES":          0xffda,
        "RTC":          0xffdc,
        "LCD_B":        0xffde,
        "PORT2":        0xffe0,
        "PORT1":        0xffe2,
        "TIMER1_A1":    0xffe4,
        "TIMER1_A0":    0xffe6,
        "DMA":          0xffe8,
        "CC1101":       0xffea,
        "TIMER0_A1":    0xffec,
        "TIMER0_A0":    0xffee,
        "ADC12":        0xfff0,
        "USCI_B0":      0xfff2,
        "USCI_A0":      0xfff4,
        "WDT":          0xfff6,
        "COMP_B":       0xfff8,
        "UNMI":         0xfffa,
        "SYSNMI":       0xfffc,
        "RESET":        0xfffe,
    }
)
